<div class="example-header">
  <mat-form-field>
    <input
      matInput
      (keyup)="doFilter($event)"
      placeholder="Digite id, nome ou cdd"
    />
  </mat-form-field>
</div>

<mat-table mat-table [dataSource]="dataSource">
  <!-- Id -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
    <mat-cell *matCellDef="let assunto">{{ assunto.id }}</mat-cell>
  </ng-container>

  <!-- Nome -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let assunto">{{ assunto.nome }}</mat-cell>
  </ng-container>

  <!-- Nome -->
  <ng-container matColumnDef="cdd">
    <mat-header-cell *matHeaderCellDef>CDD</mat-header-cell>
    <mat-cell *matCellDef="let assunto">{{ assunto.cdd }}</mat-cell>
  </ng-container>

  <!-- Açoes -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-mini-fab color="accent" aria-label="Adicionar Assunto">
        <mat-icon (click)="onAdicionar()">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let assunto" class="action-column">
      <button mat-icon-button color="primary" aria-label="Editar Assunto">
        <mat-icon (click)="onEditar(assunto)">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Remover Assunto">
        <mat-icon (click)="onDeletar(assunto)">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
